/**
 * MediaWiki style sheet for common core styles on interfaces
 *
 * Styles for the Monobook/Vector pattern of laying out common interfaces.
 * These ids/classes are not built into the system,
 * they are outputted by the actual MonoBook/Vector code by convention.
 */

/* stylelint-disable selector-class-pattern */

/* Categories */
.catlinks {
	padding: 5px;
	margin-top: 1em;
	clear: both;
}

.editOptions {
	border-top: 0;
	padding: 1em 1em 1.5em 1em;
	margin-bottom: 2em;
}

.usermessage {
	font-weight: bold;
	margin: 2em 0 1em;
	padding: 0.5em 1em;
	vertical-align: middle;
}

#siteNotice {
	position: relative;
	text-align: center;
	margin: 0;
}

#localNotice {
	margin-bottom: 0.9em;
}

/* Sub-navigation */
#siteSub {
	display: none;
}

#contentSub,
#contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	width: auto;
}

span.subpages {
	display: block;
}

/* Hide links which require JavaScript to work */
.client-nojs #t-print {
	display: none; /* T167956 */
}
