/* Special:Search */

/* stylelint-disable selector-class-pattern */
.searchresults {
	margin: 1em 0 1em 0.4em;
}

/* needs extra specificity to override `.mw-body p` selector */
.mw-body .mw-search-nonefound {
	margin: 0;
}

.searchdidyoumean em,
.searchmatch {
	font-weight: bold;
}

.mw-search-results {
	margin: 0;
	max-width: 38em;
}

.mw-search-visualclear {
	clear: both;
}

.mw-search-results li {
	list-style: none none;
	/* Rely on `padding-bottom` here to add on top of `.content li` provided `margin`. */
	padding-bottom: 24px;
}

.mw-search-results li a {
	font-size: 108%;
}

.mw-search-result-data {
	font-size: 97%;
}

.mw-search-profile-tabs {
	margin-top: 1em;
	border-radius: 2px;
}

.search-types {
	float: left;
	padding-left: 0.25em;
}

.search-types ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.search-types li {
	float: left;
	margin: 0;
	padding: 0;
}

.search-types a {
	display: block;
	padding: 0.5em;
}

.search-types .current a {
	cursor: default;
}

.search-types .current a:hover {
	text-decoration: none;
}

.results-info {
	float: right;
	padding: 0.5em;
	padding-right: 0.75em;
	font-size: 95%;
}

#mw-search-top-table div.oo-ui-actionFieldLayout {
	float: left;
	width: 100%;
}

/* Advanced options menu */
/* ===================== */

#mw-searchoptions {
	/* Support: Firefox, needs `clear: both` on `fieldset` when zoom level > 100%, see T176499 */
	clear: both;
	padding: 0.5em 0.75em 0.75em 0.75em;
	margin: -1px 0 0;
	border-radius: 0 0 2px 2px;
}

#mw-searchoptions legend {
	display: none;
}

#mw-searchoptions h4 {
	padding: 0;
	margin: 0;
	float: left;
}

#mw-searchoptions table {
	float: left;
	margin-right: 3em;
	border-collapse: collapse;
}

#mw-searchoptions table td {
	padding: 0 1em 0 0;
	white-space: nowrap;
}

#mw-searchoptions .divider {
	clear: both;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}

#mw-search-menu {
	padding-left: 6em;
	font-size: 85%;
}

#mw-search-interwiki {
	float: right;
	width: 18em;
	margin-top: 2ex;
}

.searchalttitle,
#mw-search-interwiki li {
	font-size: 95%;
}

.mw-search-interwiki-more {
	float: right;
	font-size: 90%;
}

#mw-search-interwiki-caption {
	text-align: center;
	font-weight: bold;
	font-size: 95%;
}

.mw-search-interwiki-project {
	font-size: 97%;
	text-align: left;
	padding: 0.15em 0.15em 0.2em 0.2em;
}

.searchdidyoumean {
	font-size: 127%;
	margin-top: 0.8em;
	/* Note that this color won't affect the link, as desired. */
	color: #d33;
}

#mw-search-togglebox {
	float: right;
}

#mw-search-togglebox label {
	margin-right: 0.25em;
}

#mw-search-togglebox input {
	margin-left: 0.25em;
}

.client-nojs #mw-search-togglebox {
	display: none;
}
